header{
  background: lightblue;
  color: white;
  padding: 10px;
}
h2{
  text-align: center;
  font-weight: 600;
  display: inline-block;
  width: 34%;
}
header div.left{
  width: 33%;
  display: inline-block;
  margin-top: 10px;
}
header div.right{
  width: 33%;
  display: inline-block;
  margin-top: 20px;
  text-align: right;
  float: right;
}
header i{
  vertical-align: top;
}
header a, header a:visited{
  padding: 2px 5px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  color:white;
}
.active{
  border-radius: 10px;
  background: white;
  color: lightblue !important;
  text-decoration: none;
}
a:hover{
  border-radius: 10px;
  background: white;
  color: lightblue !important;
  text-decoration: none;
}
