<header>
  <div class="col-xs-4 left">
    <a routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">All</a>
    <a routerLink="/myposts" [routerLinkActive]="'active'">My</a>
  </div>
  <h2 class="col-xs-4">{{ title }}</h2>
  <div class="col-xs-4 right">
    <i class="material-icons">account_circle</i>
    <span>Admin</span>
  </div>
</header>
