a.new, a.new:hover{
  background: lightblue;
  padding: 5px 10px;
  border-radius: 10px;
  color: white ;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}
a.new:hover{
  opacity: 0.7;
}
a.new i{
  vertical-align: bottom;
}
