<div class="row">
<div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let post of posts | sort: 'postId' | myPosts; let i = index" id="{{ post.postId }}">
  <div class="post">
    <div class="actions">
      <a routerLink="/create/{{ post.postId }}"> <i class="material-icons">create</i></a>
      <i class="material-icons" (click)="mfes.removeItem(post.postId)">delete</i>
    </div>
    <div class="post_head">{{post.title}}</div>
    <div class="post_body">
      {{post.post}}
    </div>
    <div class="author">By: {{post.author}}</div>
  </div>
</div>
</div>
