.post{
  min-height: 300px;
  box-shadow: 5px 5px 5px darkgray;
  margin: 15px 0;
  position: relative;
  border-radius: 30px;
}
.post_head{
  min-height: 50px;
  background: lightblue;
  color:white;
  border-radius: 30px 30px 0 0;
  padding: 15px 80px 15px 15px;
  font-weight: 600;
}
.post_body{
  padding: 15px 15px 50px 15px;
  height: 100%;

}
.author{
  position: absolute;
  bottom: 20px;
  right: 40px;
}
.post .actions {
  position:absolute;
  top: 15px;
  right: 20px;
}
.actions i{
  color: white;
  cursor: pointer;
}
