    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Create your post</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required />
                        <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                            <div *ngIf="title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="post">Post</label>
                        <textarea type="text" class="form-control" name="post" [(ngModel)]="model.post" #post="ngModel" [ngClass]="{ 'is-invalid': f.submitted && post.invalid }" required ></textarea>
                        <div *ngIf="f.submitted && post.invalid" class="invalid-feedback">
                            <div *ngIf="post.errors.required">Post field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
